/* Home page css */

/* dark mode */
#dark h1 {
    color: #fff;
}

#dark .textHome {
    color: #fff;
}





h1 {
    margin: 10px 0 50px 0;
}

.home {
    height: 300px;
    margin: 50px;
}

.imgHome {
    display: block;
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
}

.block1 {
    display: flex;
    width: 100%;
}

.textHome {
    display: block;
    top: 0;
    margin: auto;
    width: 80%;
    font-size: 45px;
}

@media screen and (max-width: 680px) {
    .imgHome {
        margin-top: 110px;
        left: 15%;
    }

    .textHome {
        width: 90%;
        margin-right: 20px;
      
    }
}

@media screen and (max-width: 815px) {
    .block1 {
        display: flex;
        justify-content: center;
       
    }
}

@media screen and (min-width: 815px) {
    .imgHome {
        left: 25%;
    }
}

@media screen and (max-width: 1035px) {
    .imgHome {
        position: absolute;
        top: 250px;
        text-align: center;
    }
}

@media screen and (min-width: 1035px) {
    .home {
        height: 500px;
        margin: 80px;
    }

    .block1 {
        display: flex;
        float: right;
        width: 50%;
    }

    .imgHome {
        width: 90%;
        min-width: 500px;
        max-width: 700px;
    }

    .block2 {
        height: 100%;
        width: 50%;
        position: fixed;
    }

    .textHome {
        display: flex;
        margin: 20% auto;
        text-align: center;
        font-size: 45px;
    }
}