.App {
  text-align: center;
  height: 100vh;
}

#light {
  background-color: #fff;
}

#dark {
  background-color: #444343;
}

.switch {
  display: flex;
  position: absolute;
  margin-top: -80px;
  margin-right: 5%;
  right: 0;
  height: 100px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1460px) {
  .switch {
    margin-right: 2%;
  }
}

@media screen and (max-width: 1260px) {
  .switch {
    margin-right: 80px;
  }
}